{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<!-- Menu Start -->
<div class="menu">
    <div class="container">
        <div class="section-header text-center">

            
        </div>
        <div class="menu-tab">

            <ul class="nav nav-pills justify-content-center">
                {% for category in menu %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#c-{{category.cat_id}}">{{category.cat_name}}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for category in menu %}
                <div id="c-{{category.cat_id}}" class="container tab-pane">
                    <div class="row">
                        {% if category.items|length == 0 %}
                        <div class="col-md-12 text-center">
                            <h3>No Items under {{category.cat_name}} Yet..</h3>
                        </div>
                        {% else %}
                        <div class="col-lg-7 col-md-12">
                            {% for item in category.items %}
                            <div class="menu-item">
                                <div class="menu-img">
                                    <img src="{% static 'media/{{item.image}}}" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <h3><span><a href="{% url 'dish' id=item.id %}">{{item.name}}</a></span>
                                        {% if item.price != item.discounted_price %}
                                        <strong><del>&dollar;{{item.price}}</del></strong>
                                        {% endif %}
                                        <strong>&dollar;{{item.discounted_price}}</strong>
                                    </h3>
                                    <p>{{item.ingredients}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="{% static 'media/{{category.cat_img}}}" style="height:100%;width:100%;"
                                alt="Image">
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->


<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p></p>
            <h2>Our Master Chef</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/team-1.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Adam Phillips</h2>
                        <p>CEO, Co Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/team-2.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Dylan Adams</h2>
                        <p>Master Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/team-3.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Jhon Doe</h2>
                        <p>Master Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/team-4.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Josh Dunn</h2>
                        <p>Master Chef</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="testimonial">
    <div class="container">
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'img/testimonial-1.jpg' %}" alt="Image">
                </div>
                <p>
                     sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'img/testimonial-2.jpg' %}" alt="Image">
                </div>
                <p>
                   dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'img/testimonial-3.jpg' %}" alt="Image">
                </div>
                <p>
                    dolor sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-img">
                    <img src="{% static 'img/testimonial-4.jpg'%}" alt="Image">
                </div>
                <p>
                    sit amet elit. Phasel nec preti mi. Curabit facilis ornare velit non vulput
                </p>
                <h2>Client Name</h2>
                <h3>Profession</h3>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}